<div class="process-trip-title">PROCESS TRIPS</div>
<div class="process-trip-details">
  <table mat-table [dataSource]="trips" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th class="trip-background trip-border" mat-header-cell *matHeaderCellDef> Name </th>
      <td class="trip-background trip-border" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th class="trip-background trip-border" mat-header-cell *matHeaderCellDef> Duration </th>
      <td class="trip-background trip-border" mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>
    <ng-container matColumnDef="driver">
      <th class="trip-background trip-border"mat-header-cell *matHeaderCellDef> Driver Name </th>
      <td class="trip-background trip-border" mat-cell *matCellDef="let element">  </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th class="trip-border" mat-header-cell *matHeaderCellDef> Action </th>
      <td class="trip-border" mat-cell *matCellDef="let element">
        <div class="action-items">
          <button (click)="deleteTrip(element)" class="delete-btn" matIconButton aria-label="Delete Trip">
            <mat-icon>delete</mat-icon>
          </button>
          <button class="action-btn" (click)="processTrip(element)" mat-flat-button *ngIf="element.status === 'Not Processed' ">Process Trip</button>
          <button class="action-btn" mat-flat-button *ngIf="element.status !== 'Not Processed' ">View Trip</button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


