.panel {
    width: 700px;
    background-color: #E9F1F6;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 10px;
}
.panel-details {
    width: 700px;
    background-color: #E9F1F6;
    display: flex;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.name-label {
    margin-bottom: 20px;
}
.name-input {
    margin-bottom: 20px;
    height: 30px;
    padding-left: 5px;
}
.driver-details {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    color: #191951;
}
.sub-details {
    display: flex;
    flex-direction: column;
}