<div class="home-main">
        <div class="home-section">
            <button (click)="goto('import-trips')" class="custom-button" mat-flat-button>Import Trips</button>
        </div>
        <div class="home-section">
            <button class="custom-button" mat-flat-button>Driver</button>
        </div>
        <div class="home-section">
            <button class="custom-button" mat-flat-button>Trip</button>
        </div>
        <div class="home-section">
            <button class="custom-button" mat-flat-button>Settings</button>
        </div>
</div>

